// Place all the styles related to the tinder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tt-tag-container {
	padding: 0px 3px;
	display: inline-block;

	.tt-tag {
		font-weight: bold;
		font-size: 0.75rem;
		background-color: rgb(175, 175, 175);
		color: white;
		border-radius: 3px 0px 0px 3px;
		padding: 3px 0px;

		.tt-tag-text {
			padding: 0px 10px;
		}
	}

	.tt-tag.no-close {
		border-radius: 3px;
	}

	.tt-tag-close {
		font-weight: normal;
		font-size: 0.75rem;
		padding: 3px 5px;
		border-radius: 0px 3px 3px 0px;
		background-color: rgb(210, 210, 210);
		color: gray;
		cursor: pointer;
	}

	.tt-tag-close:hover {
		background-color: rgb(225, 225, 225);
	}
}

.tt-heart-liked {
	color: red;
	font-size: 1rem;
	cursor: pointer;
}

.tt-heart {
	color: rgba(255, 0, 0, 0.4);
	font-size: 1rem;
	cursor: pointer;
}

.tt-heart:hover {
	color: red;
}