<!DOCTYPE html>
<html>
  <head>
    <title>Teza</title>
    <meta charset="utf-8">
    <meta name="description" content="Thesis Collaboration Platform @ U of T">
    <meta name="keywords" content="EngSci,thesis,tinder,match,professor,uoft,teza">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-language" content="en">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
